{% load cropping %}
{% load staticfiles %}
<div class="comment-form-wrapper">
    <div class="comment-left">
        {% if user.avatar %}
          <img src="{% cropped_thumbnail user 'avatar_cropping' scale=0.2 %}">
        {% else %}
          <img src="{% static 'img/users/user_noimage.png' %}" width="60px" height="60px">
        {% endif %}
    </div>
    <div class="comment-right">
        <form action="{% url 'posts:add-comment' post.slug %}" method="post" class="comment-form">
            {% csrf_token %}
            {% for field in form %}
                <!--<label for="{{ field.id_for_label }}">{{ field.label }}</label><br>-->
                <div>
                    {{ field }}
                    {{ field.help_text }}
                </div>
                {% if field.errors %}
                     {% for error in field.errors %}
                        <p>{{ error }} - {{ field.label }} </p>
                     {% endfor %}
                {% endif %}

            {% endfor %}
            <input class="slug" name="slug" type="hidden" value="{{ post.slug }}">
        </form>
        <div class="comment-form-footer clearfix">
            <a href="#" class="add-comment" >Leave a comment</a>
        </div>
    </div>
</div>
<!--<link rel="stylesheet" href="{% static 'posts/css/styles.css' %}">-->
