<div class="header">
	<div class="left inline">
		<ul class="inline">
			<li>test</li>
			<li>tset</li>
			<li>test</li>
		</ul>
	</div>
	<div class="right inline">
		<ul class="inline">
			<li>test</li>
			<li>test</li>
			<li>test
				<ul class="dropdown">
					<li>test1</li>
					<li>test2</li>
					<li>test3</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<style>

		html, body, div, p {
			margin: 0;
			padding: 0;
		}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	.left {
		vertical-align: top;
	}

	.inline {
		display: inline-block;
	}

	.header {
		position: fixed;
		
	} 
</style>